/*landing-page*/
.navbar {
  background-color: #1f2937;
  color: #f9faf8;
}
.navbar-brand img {
  height: 50px;
}
a {
  text-decoration: none;
}
section {
  padding: 100px 0 0 0;
}
#home {
  padding: 20px;
  background-image: linear-gradient(
      rgba(236, 213, 182, 0.3),
      rgba(171, 97, 65, 0.5),
      rgba(177, 134, 109, 0.9)
    ),
    url("https://wallpaperaccess.com/full/7761090.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  font-family: "Montserrat";
  font-size: 30px;
}
#home h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
#home .main-text {
  text-align: justify;
  font-size: 1rem;
  line-height: 30px;
  margin-top: 0;
}
.main-body {
  margin-top: 50px;
}
.glamour {
  color: blueviolet;
  font-family: "mv boli";
  font-size: 20px;
}
.catalog-button {
  background-color: blueviolet;
  color: #f9faf8;
  margin-top: 5px;
  transition: 200ms ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.catalog-button:hover {
  background-color: #1f2937;
  color: #f9faf8;
}

/*About-section*/
#about {
  padding: 20px;
  background-image: linear-gradient(
      rgba(236, 213, 182, 0.3),
      rgba(171, 97, 65, 0.5),
      rgba(177, 134, 109, 0.9)
    ),
    url("https://wallpaperaccess.com/full/7761090.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about h1 {
  font-size: 30px;
  color: #ffff;
  text-align: center;
  font-family: "Poppins";

  font-weight: 900;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
#about h1:hover {
  color: blueviolet;
}
.about-main {
  margin-top: 100px;
}
.about-main .about-image {
  width: 50%;
  height: auto;
}
.about-main .about-text {
  text-align: justify;
  margin-top: 70px;
  font-family: "Poppins";
  line-height: 30px;
}
.glamour-story h2 {
  font-size: 40px;
  color: blueviolet;
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
}
/*Catalog-section*/
#catalog {
  padding: 5px 10px;
  text-align: center;
}
#catalog .catalog-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 50px;
}
#catalog .catalog {
  text-align: start;
  height: 80%;
  background: #f9faf8;
}
#catalog .catalog img {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
}
#catalog .catalog .details {
  padding: 10px;
}
#catalog .catalog .details i {
  font-size: 0.9rem;
}
.cost {
  background-color: #1f2937;
  color: #f9faf8;
  line-height: 50px;
  width: 50px;
  height: 50x;
  text-align: center;
  border-radius: 50%;
  position: relative;
  bottom: 120px;
  right: -250px;
}
/*footer*/
footer {
  width: 100%;
  background-color: #1f2937;
  padding: 30px 0 0 20px;
  color: #f9faf8;
}
footer .footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
footer .footer-main .footer-tag {
  text-align: center;
}
footer .footer-main .footer-tag h2 {
  margin-bottom: 25px;
  font-size: 25px;
}
footer .footer-main .footer-tag p {
  margin: 10px 0;
}
